<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>
<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Deparment:</b>
  <%= @user.deparment %>
</p>


<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>About me:</b>
  <%= @user.about_me %>
</p>

<p>
  <b>Image:</b>
  <%= @user.image %>
</p>


<p>
  <b>Terms:</b>
  <%= @user.terms %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
